  .contactos {
    margin: 5px;
    padding: 5px;

    h2 {
      font-weight: bold;
      font-size: 40px;
      gap: 10px;
    }

    h3 {
      @media(min-width:576px) {
        font-size: 28px;
        text-align: center;
      }
    }

    p {
      @media(min-width:576px) {
        font-size: 28px;
        text-align: center;
      }

    }

  }