
.navbar{
    background-color: rgba(0, 0, 0, 0.767) !important;
}
    .navbar-brand,.navbar-toggler,.navbar-collapse{
    margin: 10px;
    font-size: $font-title 28px;
    justify-content: end;
    cursor: pointer;
    font-size: 24px;
}
    .navegador img{
        width: 80px;
        border-radius: 50%;
}   

.navbar-nav {
    gap: 30px;
}